/* ==========================================================================
   General styles
   ========================================================================== */

/* Google fonts import Nunito and PT Sans */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* color variables */
:root {
    --lightgreen: #83a603;
    --darkgreen: #1b4001;
    --beige: #f0deb4;
    --white: #f6f7eb;
    --black: #001e1d;
}

/* override default browser styles and add general styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: var(--black);
    font-family: 'PT Sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

img {
    max-width: 100%;
}

/* ==========================================================================
   Header styles
   ========================================================================== */
/* mobile hamburger menu, inspiration from Kevin Powell https://codepen.io/kevinpowell/pen/jxppmr */
header {
    background: var(--lightgreen);
    position: fixed;
    width: 100%;
    z-index: 99;
    padding: 1rem 2rem;
    top: 0;
}

.header-logo img {
    height: 6rem;
}

.nav-burger {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.nav-burger:focus~.nav-burger-label {
    outline: 3px solid rgba(lightblue, .75);
}

.nav-burger-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 2rem;
    height: 100%;
    display: flex;
    align-items: center;
}

nav {
    position: absolute;
    text-align: center;
    top: 100%;
    left: 0;
    background: var(--lightgreen);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1.3em;
}

.nav-button {
    color: var(--black);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.nav-link:hover,
.nav-link.active {
    color: var(--darkgreen);
}

.cta-button {
    border: 2px solid var(--darkgreen);
    background: var(--darkgreen);
    color: var(--white);
    display: inline-block;
    border-radius: 2rem;
    text-decoration: none;
    padding: 0.6rem 2rem;
}

.cta-button:hover {
    background: var(--white);
    color: var(--darkgreen);
}

.nav-button.cta-button {
    margin: .5rem 0 2rem 0;
}

.nav-burger:checked~nav {
    transform: scale(1, 1);
}

.nav-burger:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

/* hero */
.hero-container {
    margin-top: 8rem;
    position: relative;
}

.hero-image {
    height: 75vh;
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, .5);
    background-blend-mode: overlay;
}

.hero-smaller .hero-image {
    height: 35vh;
}

.hero-image.home {
    background-image: url(../images/hero_home.jpg);
}

.hero-image.dogs {
    background-image: url(../images/hero_dogs.jpg);
}

.hero-image.contact {
    background-image: url(../images/hero_contact.jpg);
}

.hero-image.friend {
    background-image: url(../images/hero_friend.jpg);
}

.hero-text {
    position: absolute;
    top: 15%;
    width: 100%;
    text-align: center;
}

.hero-text h1 {
    font-size: 2rem;
    margin-bottom: 0.7rem;
}

.hero-text p {
    font-size: 1.5rem;
    width: 60vw;
    margin: auto;
}

.hero-button.cta-button {
    margin-top: 8rem;
    font-size: 1.2rem;
}

.hero-smaller .hero-text {
    top: 35%;
}

/* ==========================================================================
   Footer styles
   ========================================================================== */
footer {
    bottom: 0;
    width: 100%;
    background: var(--darkgreen);
    color: var(--white);
}

.footer-container {
    text-align: center;
    padding: 2rem 0;
    font-size: 1.1rem;
    max-width: 1600px;
    margin: 0 auto;
}

.footer-container h3 {
    font-size: 1.5rem;
}

.footer-container img {
    margin: 2rem 0;
}

.footer-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-links li {
    margin: 1rem 0;
}

.footer-link {
    color: var(--white);
    text-decoration: none;
}

.copyright {
    text-align: center;
    background: var(--beige);
    color: var(--black);
    margin: 0;
    padding: .5rem 0;
    font-size: 1rem;
}

.copyright a {
    color: var(--darkgreen);
}

/* ==========================================================================
   Main content styles
   ========================================================================== */
main {
    padding: 0 0 2rem 0;
    flex-grow: 1;
}

main a {
    color: var(--darkgreen);
}

main a:hover {
    color: var(--lightgreen);
}

.container {
    max-width: 1600px;
    margin: auto;
}

section.heading {
    padding: 2rem;
    text-align: center;
}

section.heading h2 {
    text-align: center;
}

/* ==========================================================================
   Home page styles
   ========================================================================== */
/* help banner */
.help-container figure {
    margin: 0;
}

section.help-container {
    padding: 1rem;
}

.help-text {
    display: flex;
    flex-direction: column;
    border: 5px solid var(--lightgreen);
    padding: 0 1.5rem 1.5rem 1.5rem;
    margin-top: 0.5rem;
}

.help-button {
    text-align: center;
}

.help-heading {
    margin-bottom: 0;
    font-size: 1.5rem;
}

/* counter */
section.counter-container {
    padding: 3rem 0;
    background: var(--beige);
    margin-top: 3rem;
}

.counter-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
}

span.counter-number {
    font-family: 'Nunito', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
    font-size: 1.3rem;
    text-align: center;
}

/* ==========================================================================
   Our Dogs page styles
   ========================================================================== */
section.dog-cards {
    display: grid;
}

.dog-card figure {
    margin: 0;
}

article.dog-card {
    width: 90%;
    margin: 1rem auto;
    border: 4px solid var(--lightgreen);
    box-shadow: 3px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.dog-card img {
    height: 16rem;
    width: 100%;
    object-fit: cover;
    object-position: top;
    display: block;
}

.dog-card figcaption {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    background: var(--beige);
}

.dog-card .dog-infos {
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 0.5rem 0;
}

.dog-card p {
    margin: 0;
    padding: 0 1rem 1rem 1rem;
}

/* ==========================================================================
   Contact page styles
   ========================================================================== */
.application-container {
    padding: 2rem;
}

.form-input label {
    display: block;
    margin-top: 1rem;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.form-input label.required:after {
    content: ' *';
    color: var(--lightgreen);
}

.form-input input,
.form-input textarea {
    width: 100%;
    padding: 0.6rem 0.8rem;
    margin: 0.5rem 0;
    box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.2);
    border: 0;
}

/* change font-family for input text placeholder in all browsers */
.form-input input,
.form-input input::-webkit-input-placeholder,
.form-input textarea::-webkit-input-placeholder {
    font-family: 'PT Sans', sans-serif;
}

.form-input input:-ms-input-placeholder,
.form-input textarea:-ms-input-placeholder {
    font-family: 'PT Sans', sans-serif;
}

.form-input input:-moz-placeholder,
.form-input textarea:-moz-placeholder {
    font-family: 'PT Sans', sans-serif;
}

.form-input input::-moz-placeholder,
.form-input textarea::-moz-placeholder {
    font-family: 'PT Sans', sans-serif;
}

.form-input textarea {
    resize: vertical;
}

form.application-form {
    display: flex;
    flex-direction: column;
}

input#submit-button {
    background: var(--white);
    color: var(--darkgreen);
    padding: 0.7rem 3rem;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid var(--darkgreen);
    margin-top: 1.5rem;
}

input#submit-button:hover {
    cursor: pointer;
    background: var(--darkgreen);
    color: var(--white);
}

/* ==========================================================================
   Found a Friend page styles
   ========================================================================== */
section.gallery {
    display: grid;
    padding: 1rem;
}

.gallery img {
    width: 100%;
    object-fit: cover;
}

.gallery iframe {
    width: 100%;
    border: none;
    min-height: 300px;
}

.gallery-image {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
}

/* ==========================================================================
   Media queries
   ========================================================================== */
/* mobile logo size */
@media screen and (max-width: 500px) {
    header {
        padding: 0.5rem 2rem;
    }

    .header-logo img {
        height: 5rem;
    }

    .hero-container {
        margin-top: 6rem;
    }
}

/* desktop queries */
@media screen and (min-width: 900px) {
    body {
        font-size: 1.2rem;
    }

    main {
        padding: 2rem 0;
    }

    section.heading h2 {
        font-size: 2rem;
    }

    /* desktop menu */
    .nav-burger-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(700px, 6fr) 1fr;
    }

    .header-logo {
        grid-column: 2 / 3;
    }

    nav {
        position: relative;
        transition: none;
        transform: scale(1, 1);
        background: none;
        top: initial;
        left: initial;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
        align-items: center;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    .nav-button {
        opacity: 1;
        position: relative;
    }

    .nav-button.cta-button {
        margin: 0;
    }

    .nav-link::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        bottom: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    .nav-link:hover::before {
        transform: scale(1, 1);
    }

    .nav-button.active::before {
        transform: scale(1, 1);
    }

    /* desktop hero */
    .hero-text {
        top: 10%
    }

    .hero-text h1 {
        font-size: 3rem;
    }

    .hero-text p {
        font-size: 2rem;
    }

    .hero-button.cta-button {
        margin-top: 3rem;
        font-size: 1.5rem;
    }

    /* desktop footer */
    .footer-container {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        padding: 0;
    }

    .counter-content {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
    }

    /* desktop home */
    section.help-container {
        display: grid;
        grid-template-columns: 1fr 50px 1fr;
        grid-template-rows: 50px 1fr auto;
    }

    figure.help-image {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }

    .help-text {
        grid-column: 2 / 4;
        grid-row: 2 / 4;
        background: #fff;
        height: fit-content;
        padding: 3rem 2.5rem;
    }

    .help-button {
        align-self: flex-end;
    }

    .help-heading {
        font-size: 1.7rem;
    }
}

/* tablet queries */
@media screen and (min-width: 700px) {

    /* tablet our dogs */
    section.dog-cards {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem;
    }

    /* tablet and desktop contact */
    .form-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }

    input#submit-button {
        align-self: flex-end;
    }

    .form-row.single-column {
        grid-template-columns: 1fr;
    }

    /* tablet found a friend */
    section.gallery {
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem;
    }

    .gallery-image.col-span-2 {
        grid-column: span 2;
    }
}

/* bigger desktop queries */
@media screen and (min-width: 1000px) {

    /* desktop our dogs */
    section.dog-cards {
        grid-template-columns: repeat(3, 1fr);
    }

    /* desktop found a friend */
    section.gallery {
        grid-template-columns: 24% 24% 26% 26%;
    }
}